# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/
.env

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints
server-coursera.ipynb

# OS
.DS_Store

# Data / images (não versionar uploads/modelos grandes)

#logs e paths temporários
server.log
temp/

